p {
    margin: 0 auto
}

a {
    text-decoration: none;
}

.placeCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordColor {
    font-size: 14px;
    color: #ACACAC;
}

.accPwdWord {
    color: #ACACAC;
    font-size: 18px;
    font-weight: bold;
}

.accPwd {
    outline: 1px solid #0069B4;
    height: 35px;
}

.accPwd::-webkit-input-placeholder {
    color: #ACACAC;
    font-size: 18px;
    padding-left: 10px;
}
